{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenido al Panel de Administración</h1>
    <p>Desde aquí puedes gestionar usuarios, playlists, canciones, perfiles y estilos.</p>
{% endblock %}